<div class="d-flex flex-column search-result-wrapper">
    <div class="d-flex flex-row search-result-header mb-3">
        <h3 class="mb-3">Search results:</h3>
        <div class="control-buttons ml-auto pl-3" *ngIf="(trackState | async).nextUrl">
            <button type="button" class="btn btn-outline-secondary mr-2" (click)="getNextTracks()">Next</button>
        </div>
    </div>
    <div class="track-list">
        <track-item *ngFor="let track of (trackState | async).tracks" [track]="track"></track-item>
    </div>
    <div class="error-block" *ngIf="(trackState | async).searchErrorMsg">
        {{searchErrorMsg}}
    </div>
</div>