<form class="form-inline" [formGroup]="searchForm" (ngSubmit)="search()">
    <input class="form-control mr-sm-2" type="search" placeholder="Search Tracks" aria-label="Search" formControlName="searchField">
    <button class="btn btn-secondary my-2 my-sm-0" type="submit" [disabled]="searchForm.invalid">
        Go
    </button>
</form>