<div class="d-flex flex-row track-item pt-2 pb-2">
    <div class="track-avatar">
        <img class="item-image" [src]="getTrackImage(track)" />
    </div>
    <div class="track-information pl-2 pr-2">
        <div class="track-title ">
            {{track.name}}
        </div>
        <div class="track-artist ">
            {{track.artist}}
        </div>
    </div>
</div>