<header>
  <nav class="navbar justify-content-between">
    <a class="navbar-brand">Search your music on SoundCloud</a>
    <search-box></search-box>
  </nav>
</header>
<main class="container main-content pt-3">
  <div class="row">
    <div class="col-md-10 offset-md-1 col-xs-12">
      <search-result></search-result>
    </div>
  </div>
  <ngx-spinner bdColor="rgba(51, 51, 51, 0.2)" size="medium" color="#000" type="line-spin-clockwise-fade">
  </ngx-spinner>
</main>