header {
    color: #ccc;
    background-color: #262728;
    -webkit-box-shadow: 0 3px 0 0 rgba(0,0,0,0.08);
    box-shadow: 0 3px 0 0 rgba(0,0,0,0.08);
    border-bottom: 1px solid rgba(0,0,0,0.2);
}